

<div class="row">
   
<div class="shadow-lg col-lg-3 p-3">
    <div class="card">
    <img class="card-img-top" src="assets/images/house-1.png" alt="Title" />
    <div class="card-body">
        <h3 class="card-title">{{Property.Name}}</h3>
        <h5 class="card-text">{{Property.Type}}</h5>
        <h5 class="card-text">{{Property.Price}}</h5>
    </div>
</div>
</div>

<div class="col-lg-1">

</div>
 
<div class="shadow-lg col-lg-3 p-3">
    <div class="card">
    <img class="card-img-top" src="assets/images/house-1.png" alt="Title" />
    <div class="card-body">
        <h3 class="card-title">{{Property.Name}}</h3>
        <h5 class="card-text">{{Property.Type}}</h5>
        <h5 class="card-text">{{Property.Price}}</h5>
    </div>
</div>
</div>

<div class="col-lg-1">

</div>

 
<div class="shadow-lg col-lg-3 p-3">
    <div class="card">
    <img class="card-img-top" src="assets/images/house-1.png" alt="Title" />
    <div class="card-body">
        <h3 class="card-title">{{Property.Name}}</h3>
        <h5 class="card-text">{{Property.Type}}</h5>
        <h5 class="card-text">{{Property.Price}}</h5>
    </div>
</div>
</div>


</div>